<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lear More About Me! - Sara Shibu</title>
</head>
<body>
 <!-- Smith School logo -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Robert H. Smith School of Business logo"
         width="267"
         height="72">

<!-- Main heading for my page -->
    <h1>About Me!</h1>

    <p>
        My name is Sara Shibu, and I am a student at the University of Maryland
        and part of the Robert H. Smith School of Business.
        I am a double major studying
        <strong>Finance and Information Systems</strong>.
        I've always been in Maryland my whole life,
        so I am excited for post-grad life and traveling.
    </p>

    <p>
        Over these past <em>4 years</em> at
        Smith I have grown a passion for business, technology,
        and solving real-world problems
        and overall being there for others as a mentor.
    </p>

    <!-- My interests -->
    <h2>My Interests</h2>
    <ul>
        <li>Cooking</li>
        <li>Shopping</li>
        <li>Coloring</li>
        <li>Ranking new restaurants on Beli</li>
        <li>Spending quality time doing new activities</li>
        <li>Project Management</li>
    </ul>

    <!-- My goals -->
    <h2>My Goals</h2>

    <ol>
        <li>Graduate from the University of Maryland this Spring!</li>
        <li>Start at Capital One in Mclean for 2 years</li>
        <li>Move to a new city (Chicago or NY)</li>
        <li>Give back to the community!</li>

    </ol>

    <p>
        One of my goals is to combine <strong>business and technology</strong>
        in my future career.
        I'm extremely interested in corporate development initiatives
        within companies to see innovative ideas come alive.
        I also want to continue improving my
        <em>problem-solving skills</em>.
    </p>

    <h2>My Courses</h2>

    <table border="1">

        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>

        <tr>
            <td>BMGT 110 - Introduction to the Business Value Chain </td>
            <td>Fall 2023</td>
        </tr>

        <tr>
            <td>BMGT 221 - Principles of Accounting II </td>
            <td>Fall 2024</td>
        </tr>

        <tr>
            <td>BMGT 402 - AI Augmented Database Systems </td>
            <td>Spring 2026</td>
        </tr>

    </table>

    <!-- Links to other pages -->
    <h2>My Links</h2>

    <p>
        Go to my <a href="/hello">Hello page</a>.
    </p>

    <p>
        Visit my favorite websites:
    </p>

    <ul>
        <li>
            <a href="https://www.amazon.com/">Amazon</a>
        </li>

        <li>
            <a href="https://beliapp.com/" target="_blank">Beli</a>
        </li>
    </ul>
</body>
</html>